    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>EncryptXml Example</h1>
        <p class="lead">Let's decrypt some data!</p>
    </div>

    @using (Html.BeginForm("DoDecrypt", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend>Decrypt Data</legend>
            <div class="form-group">
                <label for="Certificates">Certificate:</label>
                @Html.DropDownList("Certificates", (IEnumerable<SelectListItem>)ViewBag.Certificates, new { @class="form-control" })
            </div>
            <div class="form-group">
                <label for="EncryptedData">Encrypted Data:</label>
                <textarea name="EncryptedData" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Decrypt</button>
        </fieldset>
    }
<p></p>
    @using (Html.BeginForm("UploadCert", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Certificate Upload</legend>
            <div class="form-group">
                <label for="CertificateName">Certificate Name:</label>
                <input type="text" name="CertificateName" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="Password">Certificate Password:</label>
                <input type="password" name="Password" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="CertificateFile">Certificate File:</label>
                <input type="file" name="CertificateFile" class="form-control" />
                <p class="help-block">Select a PFX file with the cert/key combo you wish to load.</p>
            </div>
            <button type="submit" class="btn btn-default">Load Cert</button>
        </fieldset>
    }
